body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  background-color: #343944;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 0.8em;
  color: white;
}

.App-link {
  color: #61dafb;
}

.TableContainer {
  width: 100%;
}

button {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: grey;
  font-size: 1.5em;
}

select {
  width: 98%;
  height: 25px;
  font-size: 1.1em;
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

h2 {
  font-size: 1.7em;
  background: rgb(93, 95, 105);
  padding: 1vh;
  margin: 0;
}

h3 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 1.5em;
}

/* Status display */

.unfilled {
  background: orangered;
  color: orangered;
  grid-row-start: 1;
  grid-row-end: 99;
  margin-top: 0.01px;
  margin-bottom: 0.01px;
}

.filled {
  background: lightgreen;
  color: lightgreen;
  grid-row-start: 1;
  grid-row-end: 99;
  margin-top: 0.01px;
  margin-bottom: 0.01px;
}

/* Radio Buttons */
input {
  text-align: center;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  margin: 2.5px;
  background-color: grey;
}

input:checked {
  background-color: green;
}

/* LIVER DYSFUNCTION */
.LDContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  margin: 7.5px;
  border: 2px solid black;
  align-content: center;
  align-items: center;
}

.LDTableTitle {
  grid-row: 1;
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* AST */

.ASTTitle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 2;
}

.ASTContainer {
  grid-row: 3;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: 1.4em;
}

.ASTWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  flex-direction: row;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid black;
  margin: 0;
}
/* Bilirubin */

.BilirubinTitle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 3;
}

.BilirubinContainer {
  grid-row: 4;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: 1.4em;
}

.BilirubinWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  flex-direction: row;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid black;
  border-top: none;
  margin: 0;
}

/* PT Secs */
.PTSecsTitle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 4;
}

.PTSecsContainer {
  grid-row: 5;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: 1.4em;
}

.PTSecsWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  flex-direction: row;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid black;
  border-top: none;
  margin: 0;
}

/* Ascites */

.AscitesTitle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 5;
}

.AscitesContainer {
  grid-row: 6;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: 1.4em;
}

.AscitesWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  flex-direction: row;
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  margin: 0;
}

/* DISEASE SEVERITY */

.DSContainer {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  margin: 7.5px;
  border: 2px solid black;
  align-content: center;
  align-items: center;
}

.DSTableTitle {
  grid-row: 1;
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}
/* Albumin */

.AlbuminTitle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row: 2;
}

.AlbuminContainer {
  grid-row: 3;
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: 1.4em;
}

.AlbuminWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  flex-direction: row;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid black;
  margin: 0;
}

/* Sepsis */

.SepsisContainer {
  grid-row: 3;
  grid-column: 2;
}

.SepsisWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  flex-direction: row;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 2px solid black;
  border-top: none;
  margin: 0;
}

.SepsisSelect {
  font-size: 1.5em;
}

/* Invasive Access */

.IAContainer {
  grid-row: 4;
  grid-column: 2;
}

.IAWrap {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  flex-direction: row;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.IASelect {
  font-size: 1.5em;
}
